// The fonts file has to be the first one, since there are @imports in the fonts file
//= require ./fonts

// Vendor
//= require jquery.nouislider
//= require jquery.fileupload
//= require datepicker3
//= require selectize

//= require ./reset
//= require ./main

//= require_tree ./partials
//= require_tree ./views
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: auto;
  background-color: #ffffff;
}
#homepage-filters {
  margin-top: 60px;
}